* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.property-viewer {
  width: 320px;
  margin-left: 12px;
  padding-right: 12px;
  overflow-y: auto;
  max-height: 600px;
}

.property-rules-category {
  color: #717171;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  border-bottom: 1px solid #b3b3b3;
}

.property-rules-category:not(:first-child) {
  margin-top: 16px;
}

.property-rule {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}

.property-rule label, .property-rule input, .property-rule select {
  width: 50%;
}

.property-rule input[type="checkbox"] {
  width: 20px;
  padding-left: 0;
  margin-left: 0;
}

.property-rule label {
  color: #212121;
  font-weight: 400;
  font-size: 14px;
}

.property-rule input, .property-rule select {
  border-radius: 3px;
  padding: 4px 8px;
  border: 1px solid #e3e3e3;
  margin: 2px 0;
}