<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <div>
            <button v-on:click="createBlockDialogOpen">New Block</button>
            <button v-on:click="undo">Undo</button>
            <button v-on:click="redo">Redo</button>
            <button v-on:click="doDefault">Default</button>
        </div>

        <div>
            <canvas ref="canvas"></canvas>
        </div>

        <div>
            <ul>
                <li v-for="block in getBlocks()">
                    {{ block.text }}
                </li>
            </ul>
        </div>
        
        <dialog ref="createBlockDialog">
            <div>
                <label for="x">X</label>
                <input id="x" type="number" v-model="x">
            </div>
            <div>
                <label for="y">Y</label>
                <input id="y" type="number" v-model="y">
            </div>
            <div>
                <label for="text">Text</label>
                <input id="text" type="text" v-model="text">
            </div>
            <div>
                <button v-on:click="createBlockOk">Ok</button>
                <button v-on:click="createBlockCancel">Отмена</button>
            </div>

        </dialog>
    </div>
    
    <script src="dist/editor.bundle.js"></script>
    <script src="block-scheme-editor.js"></script>
</body>
</html>